{% extends "layout.html" %}

{% block content %}
<h1>
    About - Us

</h1>
<p>
    Welcome to the VELVET POSTS , This Website was created for people to express their thoughts to others or to share their experiences
    for other people to know. This platform spreads no hate, racism nor promotes it take serious actions against those who violate terms
    and conditions. We are in this platform to share information and thoughts that may be useful for others so use it wisely!!!.

</p>

<style>
    p{
        margin-top: 3%;
        #text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        }
       h1{
        text-align: center;
        color: purple;
        }

</style>
{% endblock content %}