{% extends "layout.html" %}

{% block content %}
<h1>
    About - Us

</h1>
<div class="container-fluid">
<p>
    Welcome to the VELVET POSTS , This Website was created for people to express their thoughts to others or to share their experiences
    for other people to know. This platform spreads no hate, racism nor promotes it take serious actions against those who violate terms
    and conditions. We are in this platform to share information and thoughts that may be useful for others so use it wisely!!!.

</p>
</div>

<style>
    p{
        margin-top: 3%;
        #text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        }
       h1{
        text-align: center;
        color: purple;
        }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar fixed-bottom navbar-dark bg-dark" style="margin-top: 5%;">
  <a class="navbar-brand" href="/posts" >
    <img src="/static/velvet.ico" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-left: 3%;"> Velvet Posts
    <a class = "navbar-brand fa fa-github" href = "https://www.github.com/Narotsit-Karki" style="font-size:22px;"> <label style="font-family:myFirstFont;">Narotsit</label></a>
</a>
</nav>
{% endblock content %}