{% extends "layout.html" %}
{% block content %}

<style type="text/css">
	
	img{
        height: 125px;
        width: 125px;
        }

</style>
<div class = "content-section">
    <div class = "media">
            <img class= "rounded-circle account-img" src = "/static/profile_pics/{{authour.image_file}}">
            <div class = "media-body" style=" margin-left: 2%; position: relative;">

                <h2 class = "account-heading">
                        {{authour.username}}
                </h2>
                 <a href="mailto:{{current_user.email}}" style="text-decoration: none">{{current_user.email}}</a> 
              

            </div>
    </div>

<br>
<h4 class = 'text-muted' style="color: purple; margin-left: 2%;">POSTS FROM {{authour.username}} </h4>   
</br>

{% for post in authour.post[-1::-1]%}
    <div style="padding:2%;"></div>
    <div class="card text-black" style="border-color: purple;">
        <div class="card-body">
            <h5 class="card-title" style= "color:purple;">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">              
                <img class= "rounded-circle account-img" src = '/static/profile_pics/{{post.author.image_file}}' style = "width: 55px; height: 55px;"> 
              
                @<a name="Author" href = "/authour/{{post.author.username}}" style="text-decoration: none;">{{post.author.username}}</a>
               
            </h6>
            <h6 class="card-subtitle mb-1 text-muted">{{ post.date_posted.strftime('%B, %d %Y') }}</h6>

            <p class="card-text" style = "text-align: justify; letter-spacing: 1px;" id="content">{{post.content}}</p>



            <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target=#post_{{post.pid}}
                    aria-expanded="false" aria-controls="collapseExample">
                <i class = "fa fa-comments-o" style="font-size: 190%;color:purple"></i>
            </button>

            <div class="collapse" id= post_{{post.pid}} style="padding : 1rem;">

                <div class="card card-body" style="padding: 1rem;">
                    <form method="POST" action="/create-comment/{{post.pid}}">
                        <div class="input-group mb-3">
                            <input type = "text" id = "text" name = "text" class = "form-control form-control-md" placeholder=" Write your comment" required />
                            <button type = "submit" class = "btn btn-success">Submit</button>

                        </div>
            {% for comment in post.posts_comments[-1::-1] %}
                        <!-- {% if comment.post_id == post.pid %} -->
                            <div class="collapse" id= post_1 style="padding : 1rem;">
                                <div class="card card-body" style="padding: 1rem;">
                                <h6 class="card-subtitle mb-1 text-muted"> <img class= "rounded-circle account-img" src = "/static/profile_pics/default.jpg" style = "width: 4%; height: auto;"> @{{ comment.comment_user.username }}</h6>
                                <h6 class="card-subtitle mb-0 text-muted">{{comment.date_commented.strftime('%B, %d %Y')}}</h6>
                                <p class="card-text">{{comment.comment}}</p>
                            </div>
                          </div>
                                {% endif %}
            {% endfor %}

                    </form>
                </div>

            </div>
        </div>
    </div>


    {% endfor %}
</div>


{% endblock content %}
