{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">


.container:before {
    content: '';
    position: absolute;
    #top: 0;
    #left: 0;
    #right: 0;
    bottom: 0;
}
.container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}
.container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.container {
    background: inherit;
}

.container:before {
    background: inherit;
}
    .btn{
        border: none;
        }

.heart {
  width: 90px;
  height: 90px;
  position: relative;
  left: 5%;
  bottom:70px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}



</style>

<script>

  // or alternatively
  // return text.replace(urlRegex, '<a href="$1">$1</a>')
  }

</script>
<!--    <div class = "container">-->
<body background="{{back_path}}">
<div class='container' style="padding: 1%;">
    <h2 class="text-muted" style = "text-align:center; color: white;">
        POSTS
    </h2>

    {% if current_user.is_authenticated %}
     <a href = "{{url_for('new_post') }}"><div class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add a new post" style="font-size:250%; color:white;"> </div> </a>
    {% endif %}
    {% for post in post_datas %}
    <div style="padding:2%;"></div>
    <div class="card text-black" style="...">
        <div class="card-body">
            <h5 class="card-title" style= "color:purple;">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
<!--                <form method='POST'>-->
                <img class= "rounded-circle account-img" src = '/static/profile_pics/{{post.author.image_file}}' style = "width: 55px; height: 55px;"> @<a href="#" name="Author">{{post.author.username}}</a>

<!--                </form>-->
            </h6>
            <h6 class="card-subtitle mb-1 text-muted">{{ post.date_posted.strftime('%B, %d %Y') }}</h6>

            <p class="card-text" style = "text-align: justify; letter-spacing: 1px;" id="content">{{post.content}}</p>



            <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target=#post_{{post.id}}
                    aria-expanded="false" aria-controls="collapseExample">
                <i class = "fa fa-comments-o" style="font-size: 190%;color:purple"></i>
            </button>

            <div class="collapse" id= post_{{post.id}} style="padding : 1rem;">

                <div class="card card-body" style="padding: 1rem;">
                    <form method="POST" action="/create-comment/{{post.id}}">
                        <div class="input-group mb-3">
                            <input type = "text" id = "text" name = "text" class = "form-control form-control-md" placeholder=" Write your comment" required />
                            <button type = "submit" class = "btn btn-success">Submit</button>

                        </div>
            {% for comment in comments %}
                        {% if comment.post_id == post.id %}
                            <div class="collapse" id= post_1 style="padding : 1rem;">
                                <div class="card card-body" style="padding: 1rem;">
                                <h6 class="card-subtitle mb-1 text-muted"> <img class= "rounded-circle account-img" src = "/static/profile_pics/default.jpg" style = "width: 4%; height: auto;"> @{{ comment.comment_user.username }}</h6>
                                <h6 class="card-subtitle mb-0 text-muted">{{comment.date_commented.strftime('%B, %d %Y')}}</h6>
                                <p class="card-text">{{comment.comment}}</p>
                            </div>
                          </div>
                                {% endif %}
            {% endfor %}

                    </form>
                </div>

            </div>
        </div>
    </div>


    {% endfor %}
</div>
<!--    </div>-->

{% endblock content %}

</body>
