{% extends "layout.html" %}

{% block content %}

<style>

.container {
  width: 80%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 1%;
}
 
</style>
<!-- <body background = "static/background_1.jpg" style="background-size: 100% 180%;background-repeat: no-repeat;"> -->
<div class = "container">

<form method = "POST" action="",>
         {{ form.hidden_tag() }}
<!--         adding csrf token-->

        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">
                Reset Password
                <div class = "form-group">
                     <div class = "form-group">
                    {{ form.email.label(class = "form-control-label") }}
                     {% if form.email.errors %}
                        {{ form.email(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class = "form-control form-contorl-md", placeholder = "Enter your Email...") }}
                    {% endif %}
        
                </div>
            </legend>
        </fieldset>

        <div class = "form-group" style="padding: 2%;">
            {{ form.submit(class = "btn btn-primary") }}
        </div>
       
    </form>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar fixed-bottom navbar-dark bg-dark" style="margin-top: 5%;">
  <a class="navbar-brand" href="/posts" >
    <img src="/static/velvet.ico" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-left: 3%;"> Velvet Posts
    <a class = "navbar-brand fa fa-github" href = "https://www.github.com/Narotsit-Karki" style="font-size:22px;"> <label style="font-family:myFirstFont;">Narotsit</label></a>
</a>
</nav>
{% endblock content %}
</body>
